<!DOCTYPE html>
<div  ng-controller="RegisterController as vm">
  <form class="loginform">
    <div class="group">
      <input type="text" ng-model="vm.user.firstName">
      <span class="highlight"></span><span class="bar"></span>
      <label>Vorname</label>
    </div>
    <div class="group">
      <input type="text" ng-model="vm.user.lastName">
      <span class="highlight"></span><span class="bar"></span>
      <label>Nachname</label>
    </div>
    <div class="group">
      <input type="email" ng-model="vm.user.email">
      <span class="highlight"></span><span class="bar"></span>
      <label>E-Mail*</label>
    </div>
    <div class="group">
      <input type="password" ng-model="vm.user.password">
      <span class="highlight"></span><span class="bar"></span>
      <label>Passwort*</label>
    </div>
    <div class="group">
      <input type="password" ng-model="vm.user.passwordRepeat">
      <span class="highlight"></span><span class="bar"></span>
      <label>Passwort wiederholen*</label>
    </div>
    <button type="button" class="button buttonBlue" ng-click="vm.register($event)">Register
     
    </button>

   
<div class="modal fade" id="registerErrorModal" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Register error</h4>
            </div>
            <div class="modal-body">
                <label>Folgende Probleme sind aufgetreten : {{vm.text}}</label>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
  </form>
</div>

