<!DOCTYPE html>
<div  ng-controller="categoryCtrl as ctrl">

<table class="table">
	<tbody >
		<tr> 
			<td>
			<h1>Create/Save Category</h1>
			
  <form class="loginform">
    <div class="row">
      <h1>Name</h1>
      <input type="textarea" class="form-control" ng-model="ctrl.name" placeholder="Name">
      <span class="highlight"></span><span class="bar"></span>
    </div>
    
	<div class="row">
      <h1>Description</h1>
      <input type="textarea" class="form-control" ng-model="ctrl.description" placeholder="Description">
      <span class="highlight"></span><span class="bar"></span>
    </div>
	<br>
    <button type="button" class="btn btn-default" ng-click="ctrl.addCategory($event)"> Create Category</button>    
    <div class="row" ng-if="ctrl.selectedAlertName">
    <br>    
    <button type="button" class="btn btn-default" ng-click="ctrl.updateCategory($event)"> Save existing Category</button>
	</div>
	
	<!-- The Modal -->
	<div id="myModalMissingData" class="modal">	
	  <!-- Modal content - Save Query -->
		<div class="modal-content">
	    <h2>Please edit following values:</h2>
   	      <div ng-repeat="errorText in ctrl.text" style="display: inline;">
          	<label for="name"> {{errorText}} </label>
		  </div>
		<button id="missingDataOk"> Okay </button>
	  </div>
	</div>
  </form>

			</td>
			<td>
			
			<h1>Existing Categories</h1>
			
			 <table class="table">
				<tbody >
				<tr ng-repeat = "cell in ctrl.existingCategories"> 
					<td>
					<label>Name: {{cell.name}} </label>
						<button ng:click="ctrl.selectLoad(cell)"> Load Category </button>
						<button ng:click="ctrl.selectDelete(cell)"> Delete Category </button>
						</td>
					</tr>
				</tbody>
			</table>
			
			</td>
		</tr>
	</tbody>
</table>

</div>