/**
Menu 
*/
.menuPadding{
  padding: 0px 20px 0px 10px;
}

/**
Container .css
*/
.container{
  margin-top: 40px;
}

@media (min-width: 1200px) {
    .container{
        max-width: 970px;
    }
}

.top-buffer-verysmall { 
  margin-top: 5px; 
}

.top-buffer-small { 
  margin-top: 17px; 
}


.top-buffer { 
  margin-top: 25px; 
}

.left-buffer {
  margin-left: 20px;
}

.left-buffer-padding {
  padding-right: 20px;
}

.top-buffer-large { 
  margin-top: 35px; 
}

.highlightedText {
    background: yellow;
}


/**
Bootstrap hacks
*/
.col-center{
  margin:0 auto;
}

.center-block {
   margin-left:auto;
   margin-top:auto;
   margin-right:auto;
   margin-bottom:auto;
   display:block;
}

/**
Make ng-dialog bigger
*/

.ngdialog.ngdialog-theme-default.custom-width .ngdialog-content {
    width: 55%;
}
