/**
Menu 
*/
.menuPadding{
  padding: 0px 20px 0px 10px;
}

/**
Container .css
*/
.container{
  margin-top: 40px;
}

@media (min-width: 1200px) {
    .container{
        max-width: 970px;
    }
}

.top-buffer-verysmall { 
  margin-top: 5px; 
}

.top-buffer-small { 
  margin-top: 17px; 
}


.top-buffer { 
  margin-top: 25px; 
}

.left-buffer {
  margin-left: 20px;
}

.left-buffer-0 {
  margin-left: 0px;
}

.left-buffer-padding {
  padding-right: 20px;
}

.top-buffer-large { 
  margin-top: 35px; 
}

.highlightedText {
    background: yellow;
}


/**
Bootstrap hacks
*/
.col-center{
  margin:0 auto;
}

.center-block {
   margin-left:auto;
   margin-top:auto;
   margin-right:auto;
   margin-bottom:auto;
   display:block;
}

/**
Make ng-dialog bigger
*/

.ngdialog.ngdialog-theme-default.custom-width .ngdialog-content {
    width: 70%;
}


/**
Checkbutton
*/
.ck-container {
    height: 30px;
    line-height: 30px;
    margin: 15px;
}

.ck-element {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0px !important;
  top: 0;
  left: 0;
}

.ck-content {
    background-color:none;
    border-radius:4px;
    border:1px solid #D0D0D0;
    overflow:auto;
    float:left;
    text-align:center;
    vertical-align: middle;
}

.ck-content span{
   
    height: 100%;
   display:block;
}

.ck-content:hover {
    background:green;
}

.ck-box{
   z-index: 10;
   opacity:0;
   disply:hidden;
}

.ck-box:checked + div {
    background-color:green;
    color:black;
}
