/**
Menu 
*/
.menuPadding{
  padding: 0px 20px 0px 10px;
}

/**
Container .css
*/
.container{
  margin-top: 40px;
}

@media (min-width: 1200px) {
    .container{
        max-width: 970px;
    }
}

.top-buffer { 
  margin-top: 30px; 
}

.highlightedText {
    background: yellow;
}

