<!DOCTYPE html>
<meta charset="utf-8"/>
 
<style>
.CodeMirror {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
</style>
<div class="container" ng-controller="expertModeCtrl as ctrl">

  <div class="row">
    <div class="col-md-11">
      <input type="textarea" class="form-control" id="query" placeholder="Query" ng-model="ctrl.query" />
    </div>
    <div class="col-md-1">
      <button type="submit" class="btn btn-default" ng-click="ctrl.submitQuery()">Submit</button>
    </div>	
		  <button type="saveQuery" class="btn btn-default" ng-click="ctrl.saveQuery()">Save Query</button>
		  <button type="loadQuery" class="btn btn-default" ng-click="ctrl.loadQuery()">Load Query</button> 
	
<!--  <li>
	Category:
	<input class="form-control" type="text" ng-model="ctrl.category" id="category">
  </li>
  <li>
	Parameter:
	<input class="form-control" type="text" ng-model="ctrl.parameter" id="parameter">
  </li>
  -->

  </div>
  <form novalidate class="simple-form">
  <div>
    <div ng-repeat="param in ctrl.params">
        <p ng-repeat="(key, val) in param">
          <select ng-if="key == 'type'" ng-model="param.type" ng-options="o as o for o in ctrl.paramoptions">
          <!--  <option>Integer</option>
            <option>String</option> -->
          </select>
          <input ng-if="key == 'key'" type="text" name="key_value" ng-model="param.key" />
          
          <input ng-if="key == 'value'" ng-model ="param.value" name="value_value"  type="text" />
        </p>
    </div>

    <button ng-click="ctrl.ButtonClick()">
      Add parameter
    </button>
    <!--
    <div ng-repat= "param in ctrl.params"> 
          <p ng-repat= "(key, val) in param">
            {{key}}: {{val}}
            <select  ng-model = "val"  ></select>
            <input ng-if="key == 'value'" ng-model ="val" type="text" />
          </p>
    </div>-->
  </div>  
  </form>
  
<!--   <h1>TEST: {{ctrl.table}}</h1> -->
  
   <!-- <div class="row top-buffer">
    <table class="table"  ng-if="!ctrl.hasError">
       <thead>
        <tr>
          <th>ID</th>
          <th>Label</th>
          <th>Key</th>
          <th>Value</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="row in ctrl.table">
		  <td>
            <p  ng-repeat="node in row.n.propertyList">
              <a href="node">{{row.n.id}}</a>
            </p>
          </td>
		  <td>
            <p  ng-repeat="node in row.n.propertyList">
              <a href="node">{{row.n.labels[0]}}</a>
            </p>
          </td>
          <td>
            <p  ng-repeat="node in row.n.propertyList">
              <a href="node">{{node.key}}</a>
            </p>
          </td>
          <td>
            <p  ng-repeat="node in row.n.propertyList">
              <a href="node">{{node.value}}</a>
            </p>
          </td>
        </tr>
      </tbody>
    </table> -->

    <!-- <span ng-repeat= "(property, value) in ctrl.table">
      {{property}} : {{value}}
      </span> -->

      <script type="text/ng-template" id="categoryTree">
        <tr ng-repeat= "cell in row">
        <td ng-repeat="abc in cell">
          {{cell}}
        </td>
        </tr>
       </script>

    <table class="table"  ng-if="!ctrl.hasError">
       <tbody >
         <tr ng-repeat = "row in ctrl.table"> 
             <td ng-repeat = "cell in row">
               {{cell}}
          </td>
          </tr>
      </tbody>
      </table>

    <div ng-if="ctrl.hasError">
        <div class="row">
            <div class="col-md-3">Error</div>
            <div class="col-md-9">{{ctrl.error['error']}}</div>
        </div>
        <div class="row">
            <div class="col-md-3">Exception</div>
            <div class="col-md-9">{{ctrl.error['exception']}}</div>
        </div>
        <div class="row">
            <div class="col-md-3">Message</div>
            <div class="col-md-9">{{ctrl.error['message']}}</div>
        </div>
    </div>

  </div>
 
</div>