<!DOCTYPE html>
<meta charset="utf-8"/>
<style>
.CodeMirror {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    height: auto;
}

</style>

<div class="container" ng-controller="expertModeCtrl as ctrl">

  <div class="row">
    <div class="col-md-11">
      <textarea id="query"> </textarea>
    </div>
    
    <button id="submit" class="btn btn-default" ng-click="ctrl.submitQuery()">Submit</button>
	<!-- Trigger/Open The Modal - Save Query -->
	<button id="saveQuery" class="btn btn-default">Save Query</button>
	<!-- The Modal -->
	<div id="myModalSave" class="modal">
	
	  <!-- Modal content - Save Query -->
		<div class="modal-content">
	    <h1>Save Query</h1>
	    	<div class="row" ng-if="ctrl.invalidSaveText">
	    		<div ng-repeat="text in ctrl.invalidSaveText" style="display: inline;">
	    			<p><font color="red">{{text}}</font></p>
	    		</div>
    		</div>
			<label for="name">Please add a query name: </label>
			<input id="name" name="name" type="textarea" class="form-control" ng-model="ctrl.name" placeholder="Query Name"/>
			<label for="description">Please add a query description: </label>
			<input id="description" name="description" type="textarea" class="form-control" ng-model="ctrl.description" placeholder="Query Description"/>
			<label for="category">Please select a category: </label>
      <div class="group" >
        <select   ng-model="ctrl.categoryName" ng-change="ctrl.categoryName"
          style="width: 100%; display:block; margin-bottom: 5px">
          <option ng-repeat="category in ctrl.availableCategories"> {{category.name}} </option>
        </select>
      </div>
		<button class="btn btn-default" type="saveQuery" ng-click="ctrl.saveQuery()">Save Query</button>
		<button class="btn btn-default" id="saveAbbruch">Cancel</button>
	  </div>
	</div>
	

	<button class="btn btn-default" id="loadQuery">Load Query</button>
	<button class="btn btn-default" id="deleteQuery">Delete Query</button>
	
	<br>
  </div>
  <form novalidate class="simple-form">
  	<br>
  <div>
  	<br>
    <div ng-repeat="param in ctrl.params">
        <p ng-repeat="(key, val) in param">
          <select ng-if="key == 'type'" ng-model="param.type" ng-options="o as o for o in ctrl.paramoptions">
          </select>
          <input ng-if="key == 'key'" class="form-control" type="textarea" name="key_value" ng-model="param.key" />
          
          <input ng-if="key == 'value'" class="form-control" ng-model ="param.value" name="value_value"  type="textarea" />
        </p>
    </div>
  </div>  
  </form>
  
 <div class="container" ng-controller="Controller">
 <div outputtable table="ctrl.table"></div> 
 </div>

    <div ng-if="ctrl.hasError">
        <div class="row">
            <div class="col-md-3">Error</div>
            <div class="col-md-9">{{ctrl.error['error']}}</div>
        </div>
        <div class="row">
            <div class="col-md-3">Exception</div>
            <div class="col-md-9">{{ctrl.error['exception']}}</div>
        </div>
        <div class="row">
            <div class="col-md-3">Message</div>
            <div class="col-md-9">{{ctrl.error['message']}}</div>
        </div>
    </div>

  </div>
</div>