<!-- <!DOCTYPE html>
 <div class="headerContainer" ng-controller="headerCtrl as ctrl">
	
	<nav class="navbar navbar-default navbar-fixed-top" role="navigation" >
		<div class="menuPadding">
			<div class="navbar-header">
		       
		        <!-- You'll want to use a responsive image option so this logo looks good on devices - I recommend using something like retina.js (do a quick Google search for it and you'll find it) -->
		       <!-- <a  class="navbar-brand" href="#/">
		        	<span>
		        		Querybuilder
		        	</span>
		        </a>
		    </div>

		    <!-- Collect the nav links, forms, and other content for toggling -->
		<!--   <div class="collapse navbar-collapse navbar-ex1-collapse">
		        <ul class="nav navbar-nav navbar-right">
		            <li>
		            	<a href="#/querybuilder">Query Builder</a>
		            </li>
		            <li>
		            	<a href="#/expertmode">Expertmode</a>
		            </li>
		            <li>
		            	<a href="#/login">Login</a>
		            </li>
		            <li>
		            	<a href="#/register">Register</a>
		            </li>
					<li>
		            	<a href="#/category">Category</a>
		            </li>
    		        <li>
		            	<a href="#/alerting">Alerting</a>
		            </li>
                	<li>
		            	<a href="#/alertingStatistics">Alerting Statistik</a>
		            </li>
		        </ul>
		    </div>
	    </div>
	</nav>
    
</div>
<!-- /.container -->


 <div class="headerContainer" ng-controller="headerCtrl as ctrl">
	
	<nav class="navbar navbar-default navbar-fixed-top" role="navigation" >
		<div class="menuPadding">
			<div class="navbar-header"">
				<a  class="navbar-brand" href="#/">
					<span>
		        		Querybuilder
		        	</span>
		        </a>
		    </div>

        <ul class="nav navbar-nav navbar-right">
            <li ng-repeat="item in items ">
               <a ng-if="condition(item)" href="#{{item.link}}">{{item.name}}</a> 
            </li>
        </ul>
	</div>
	</nav>
	</div>