
 <div class="headerContainer" ng-controller="headerCtrl as ctrl">
	
	<nav class="navbar navbar-default navbar-fixed-top" role="navigation" >
		<div class="menuPadding">
			<div class="navbar-header"">
				<a  class="navbar-brand" href="#/">
					<span>
		        		Querybuilder
		        	</span>
		        </a>
		    </div>

        <ul class="nav navbar-nav navbar-right">
            <li ng-repeat="item in items ">
               <a ng-if="condition(item)" href="#{{item.link}}">{{item.name}}</a> 
            </li>
        </ul>
	</div>
	</nav>
	</div>