<!DOCTYPE html>
<div>
  <h1>Query </h1>
  <select  ng-model="ctrl.category" ng-change="ctrl.changeCategories()"
      style="width: 100%; display:block; margin-bottom: 5px">
      <option value="">All</option>
          <option ng-repeat="category in ctrl.availableCategories"> {{category.name}} </option>
          
      </select> 
  <div class="row top-buffer panel panel-default" ng-repeat="query in ctrl.loadedQueries">
    <div ng-if= "ctrl.checkCategory(query.category)"> 
    <div class="col-sm-1">
      {{query.id}}
    </div>
    <div class="col-sm-2">
      {{query.name}}
    </div>
    <div class="col-sm-3">
      {{query.description}}
    </div>
    <div class="col-sm-3">
      {{query.category}}
    </div>
   </div> 
    
    <div class="col-sm-2">
      <button ng-click="ctrl.selectQuery(query)" class="top-buffer-verysmall">
        Load
      </button>
      <button ng-click="ctrl.deleteQuery(query.id)" class="top-buffer-verysmall">
        Delete
      </button>
    </div>
  </div>
   
</div>