<!DOCTYPE html>
<div>
  <h1>{{ctrl.name}}</h1>
      <div ng-repeat="keyNode in ctrl.keys " >
         <div ng-repeat="key in keyNode['Keys']" > <!--ng-init="parentIndex = $index"-->
            <h2>{{key}}</h2>
            <div class="row panel" >
              <div class="col-md-5">
                <div class="panel panel-default top-buffer-small" >
                  <div class="panel-heading">
                        <div class="pull-left" style="width:15px;">
                          <input id="inlineradio0" type="checkbox" 
                           ng-checked="ctrl.isFilterAttributesChecked(key)"
                           ng-click="ctrl.setFilterAttributes(key)">
                        </div>
                        <div class="pull-left left-buffer ">
                           Filter
                        </div>
                        <div class="clearfix"></div>
                  </div>
                  <div ng-if="ctrl.isFilterAttributesChecked(key)" class="panel-body"> 
                    <div ng-repeat="filter in ctrl.getFilterAttributes(key).filters track by $index" class="top-buffer-small">
                      <div class="row top-buffer-small">
                        <div class="col-xs-2 ck-container">
                          <input class="ck-element ck-box" 
                            type="checkbox"
                            ng-model="isBracketOpen"
                            ng-change="ctrl.setFilterAttributesFilterValue(key, filter.id, 'isBracketOpen', isBracketOpen)" 
                            ng-watch='ctrl.getFilterAttributesFilter(key, filter.id)'
                            ng-watch-object-value="isBracketOpen"
                            autocomplete="off">
                           </input> 
                           <div class="ck-element ck-content">
                               <span>(</span> 
                           </div>
                        </div>
                      </div>

                      <!--Panel-->
                      <form class="panel panel-primary" name="fieldfom" >
                        <div class="panel-body">
                          <button ng-if="ctrl.getFilterAttributes(key).filters.length > 1"
                                  class="btn pull-right" 
                                  ng-click="ctrl.deleteFilterAttributesFilter(key, filter.id)"> 
                           Remove
                          </button>
                          
                          <div>
                           Type
                          </div>
                          <select name="singleSelect" id="singleSelect" class="form-control"
                            ng-model="type"
                            ng-change="ctrl.setFilterAttributesFilterValue(key, filter.id, 'type', type)" 
                            ng-watch='ctrl.getFilterAttributesFilter(key, filter.id)'
                            ng-watch-object-value="type">
                            <option value="string">STRING</option> 
                            <option value="integer">INT</option>
                            <option value="double">DOUBLE</option>
                            <option value="long">LONG</option>
                            <option value="boolean">BOOLEAN</option>
                            <option value="date">DATE</option>
                          </select>
                          <div class="top-buffer-small">
                            Filter Type
                          </div>
                          <select name="singleSelect" id="singleSelect" class="form-control"
                          ng-model="filterType"
                          ng-change="ctrl.setFilterAttributesFilterValue(key, filter.id, 'filterType', filterType)" 
                          ng-watch='ctrl.getFilterAttributesFilter(key, filter.id)'
                          ng-watch-object-value="filterType">
                            <option value="=">EQUALS</option> 
                            <option value=">">GREATER</option>
                            <option value="<">SMALLER</option>
                           <option value=">=">GREATER EQUAL</option>
                            <option value="<=">SMALLER EQUAL</option>
                          </select>
                          <div class="top-buffer-small">
                             Filter
                          </div>
                          <!--Text-->
                          <input ng-if="(ctrl.getFilterAttributesFilter(key, filter.id)).type === 'string'" 
                              type="textarea" class="form-control" id="query" 
                              ng-change="ctrl.setFilterAttributesFilterValue(key, filter.id, 'value', value)" 
                              ng-watch='ctrl.getFilterAttributesFilter(key, filter.id)'
                              ng-watch-object-value="value"
                              ng-model="value"/>
                         
                          <div class="form-group"
                                  ng-class="(
                                  (ctrl.getFilterAttributesFilter(key, filter.id)).value == undefined 
                                  || (ctrl.getFilterAttributesFilter(key, filter.id)).value == '' 
                                  || (ctrl.getFilterAttributesFilter(key, filter.id)).value == null) ? 'has-error' : ''">
                             <!--Integer-->
                            <input ng-if="(ctrl.getFilterAttributesFilter(key, filter.id)).type === 'integer' " 
                              type="number" step="1" class="form-control" id="query" 
                              ng-change="ctrl.setFilterAttributesFilterValue(key, filter.id, 'value', value)" 
                              ng-watch='ctrl.getFilterAttributesFilter(key, filter.id)'
                              ng-watch-object-value="value"
                              ng-model="value"
                              placeholder="0"/>
                            <!--DOUBLE-->
                            <input ng-if="(ctrl.getFilterAttributesFilter(key, filter.id)).type === 'double' ||
                            (ctrl.getFilterAttributesFilter(key, filter.id)).type === 'long'" 
                              type="textarea" class="form-control" id="query" 
                              ng-change="ctrl.setFilterAttributesFilterValue(key, filter.id, 'value', value)" 
                              ng-watch='ctrl.getFilterAttributesFilter(key, filter.id)'
                              ng-watch-object-value="value"
                              ng-model="value"
                              value="0" 
                              placeholder="0.0"
                              ng-pattern="/^[0-9]+\.?[0-9]{0,15}$/"/>
                           <!--DATE-->
                            <input type="textarea" class="form-control" id="query" 
                              ng-if="(ctrl.getFilterAttributesFilter(key, filter.id)).type === 'date'"
                              ng-change="ctrl.setFilterAttributesFilterValue(key, filter.id, 'value', value)" 
                              ng-watch='ctrl.getFilterAttributesFilter(key, filter.id)'
                              ng-watch-object-value="value"
                              ng-model="value"
                              name="date" 
                              placeholder="dd.mm.yyyy"
                              ng-pattern="/^([0-2][1-9]|10|20|30|31).(01|02|03|04|05|06|07|08|09|10|11|12).[0-9]{4}$/"
                                />
                                <!--Boolean-->
                            <select ng-if="(ctrl.getFilterAttributesFilter(key, filter.id)).type === 'boolean'" 
                              name="singleSelect" id="singleSelect"  class="form-control"
                              ng-change="ctrl.setFilterAttributesFilterValue(key, filter.id, 'value', value)" 
                              ng-watch='ctrl.getFilterAttributesFilter(key, filter.id)'
                              ng-watch-object-value="value"
                              ng-model="value">
                              <option value="true">TRUE</option> 
                              <option value="false">FALSE</option>
                            </select>
                          </div>       
                             
                          <div class="input-group top-buffer-small">
                            <div class="panel-title pull-left" style="width:15px;">
                              <input type="checkbox" 
                                 ng-value="true"
                                 ng-model="changeable"
                                 ng-change="ctrl.setFilterAttributesFilterValue(key, filter.id, 'changeable', changeable)"
                                 ng-watch='ctrl.getFilterAttributesFilter(key, filter.id)'
                                 ng-watch-object-value="changeable">
                              </input>
                            </div>
                            <div class="panel-title pull-left left-buffer ">
                              Changeable
                            </div>
                            <div class="clearfix"></div> 
                          </div>
                        </div>
                      </form>
                      <div class="row">
                        <div class="col-xs-2 ck-container">
                          <input class="ck-element ck-box" 
                            type="checkbox"
                            ng-model="isBracketClosed"
                            ng-change="ctrl.setFilterAttributesFilterValue(key, filter.id, 'isBracketClosed', isBracketClosed)" 
                            ng-watch='ctrl.getFilterAttributesFilter(key, filter.id)'
                            ng-watch-object-value="isBracketClosed"
                           autocomplete="off"> 
                           </input>
                           <div class="ck-element ck-content">
                              <span> ) </span>
                           </div>
                        </div>
                      </div>
                      <div ng-if="ctrl.getFilterAttributes(key).filters.length != ($index + 1)">
                        <div class="row">
                          <input  class="col-xs-2" 
                                  style="margin-left: 8.8%"
                                  type="radio" 
                                name="{{'radio' + key + filter.id +  'andOR'}}"
                                value="AND"
                                ng-model="logic"
                                ng-click="ctrl.setFilterAttributesFilterValue(key, filter.id, 'logic', logic)"
                                ng-watch='ctrl.getFilterAttributesFilter(key, filter.id)'
                                ng-watch-object-value="logic">
                          </input>
                          <div class="col-xs-3">AND</div>
                        </div>
                        <div class="row">
                          <input  class="col-xs-2" 
                                  style="margin-left: 8.8%"
                                  type="radio" 
                                name="{{'radio' + key + filter.id + 'andOR'}}"
                                value="OR"
                                ng-model="logic"
                                ng-click="ctrl.setFilterAttributesFilterValue(key, filter.id, 'logic', logic)"
                                ng-watch='ctrl.getFilterAttributesFilter(key, filter.id)'
                                ng-watch-object-value="logic">
                          </input>
                          <div class="col-xs-3">OR</div>
                        </div>
                      </div>
                    </div>
                    <button class="btn" 
                        ng-click="ctrl.addFilterAttributesFilter(key)"> 
                        ADD
                    </button>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="panel panel-default top-buffer-small" >
                  <div class="panel-heading">
                    <div class="panel-title pull-left" style="width:15px;">
                      <input id="inlineradio1" type="checkbox"
                              ng-checked="ctrl.isReturnAttributesChecked(key)"
                              ng-click="ctrl.setReturnAttributes(key)">
                      </input>
                    </div>
                    <div class="panel-title pull-left left-buffer">
                      Return
                    </div>
                    <div class="clearfix"></div>
                  </div>
                  <div class="panel-body" ng-if="ctrl.isReturnAttributesChecked(key)"> 
                    <div class="row">
                      <input  class="col-xs-2" 
                              style="margin-left: 8.8%"
                             type="checkbox" 
                            name="{{'checkbox' + key + 'returnType'}}"
                            ng-true-value="'distinct'"
                            ng-false-value="''"
                            value="distinct"
                            ng-model="returnType"
                            ng-click="ctrl.setReturnAttributesValue(key, 'returnType', returnType)"
                            ng-watch='ctrl.getReturnAttributes(key)'
                            ng-watch-object-value="returnType">
                      </input>
                      <div class="col-xs-3">Distinct</div>
                    </div>
                    <h3>Aggregation</h3>
                    <div class="row">
                      <input  class="col-xs-2" 
                              style="margin-left: 8.8%"
                              type="radio" 
                            name="{{'radio' + key + 'aggregation'}}"
                            value="NONE"
                            ng-model="aggregation"
                            ng-click="ctrl.setReturnAttributesValue(key, 'aggregation', aggregation)"
                            ng-watch='ctrl.getReturnAttributes(key)'
                            ng-watch-object-value="aggregation">
                      </input>
                      <div class="col-xs-3">NONE</div>
                    </div>
                    <div class="row">
                      <input  class="col-xs-2" 
                              style="margin-left: 8.8%" type="radio" 
                            name="{{'radio' + key + 'aggregation'}}"
                            value="MIN"
                            ng-model="aggregation"
                            ng-click="ctrl.setReturnAttributesValue(key, 'aggregation', aggregation)"
                            ng-watch='ctrl.getReturnAttributes(key)'
                            ng-watch-object-value="aggregation">
                      </input>
                      <div class="col-xs-3">MIN</div>
                    </div>
                    <div class="row">
                      <input  class="col-xs-2" 
                              style="margin-left: 8.8%" type="radio" 
                            name="{{'radio' + key + 'aggregation'}}"
                            value="MAX"
                            ng-model="aggregation"
                            ng-click="ctrl.setReturnAttributesValue(key, 'aggregation', aggregation)"
                            ng-watch='ctrl.getReturnAttributes(key)'
                            ng-watch-object-value="aggregation">
                      </input>
                      <div class="col-xs-3">MAX</div>
                    </div>
                    <div class="row">
                      <input  class="col-xs-2" 
                              style="margin-left: 8.8%" type="radio" 
                            name="{{'radio' + key + 'aggregation'}}"
                            value="SUM"
                            ng-model="aggregation"
                            ng-click="ctrl.setReturnAttributesValue(key, 'aggregation', aggregation)"
                            ng-watch='ctrl.getReturnAttributes(key)'
                            ng-watch-object-value="aggregation">
                      </input>
                      <div class="col-xs-3">SUM</div>
                    </div>
                    <div class="row">
                      <input  class="col-xs-2" 
                              style="margin-left: 8.8%" type="radio" 
                            name="{{'radio' + key + 'aggregation'}}"
                            value="COUNT"
                            ng-model="aggregation"
                            ng-click="ctrl.setReturnAttributesValue(key, 'aggregation', aggregation)"
                            ng-watch='ctrl.getReturnAttributes(key)'
                            ng-watch-object-value="aggregation">
                      </input>
                      <div class="col-xs-3">COUNT</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="panel panel-default top-buffer-small" >
                    <div class="panel-heading">
                      <div class="panel-title pull-left" style="width:15px;">
                        <input  type="checkbox" 
                        ng-checked="ctrl.isOrderByAttributesChecked(key)"
                        ng-click="ctrl.setOrderByAttributes(key)">
                        </input>
                      </div>
                      <div class="panel-title pull-left left-buffer" >
                        Order
                      </div>
                      <div class="clearfix"></div>
                    </div>
                    <div class="panel-body" ng-if="ctrl.isOrderByAttributesChecked(key)"> 
                       <div class="row">
                          <input  class="col-xs-2" 
                              style="margin-left: 8.8%" type="radio" 
                            name="{{'radio' + key}}"
                            value="asc"
                            ng-model="value"
                            ng-click='ctrl.setOrderByAttributesValue(key, value)'
                            ng-watch='ctrl.getOrderByAttributes(key)'
                            ng-watch-object-value="direction">
                          </input>
                          <div class="col-xs-3">ASC</div>
                        </div>
                        <div class="row">
                          
                           <input class="col-xs-2" 
                              style="margin-left: 8.8%"  class="btn btn-primary" type="radio" 
                            name="{{'radio' + key}}"
                            value="desc"
                            ng-model="value"
                            ng-click='ctrl.setOrderByAttributesValue(key, value)'
                            ng-watch='ctrl.getOrderByAttributes(key)'
                            ng-watch-object-value="direction">
                            <div class="col-xs-3">DESC</div>
                          </input>
                        </div>
                      </div>
                    </div>
                </div>            
              </div>
            </div>
          </div>
      </div>
      <div style="display: inline;" >
          <div ng-repeat="relationship in ctrl.relationships"  style="display: inline;" >
              <button ng-repeat="label in relationship['Labels']"  class="btn btn-default"
                      ng-click="ctrl.addRelationship(relationship['Relation'], relationship['Direction'], label)">
                  {{relationship['Relation']}}
                <span ng-if="relationship['Direction'] == 'OUTGOING'"
                    class="glyphicon glyphicon-arrow-down"></span>
                <span ng-if="relationship['Direction'] == 'INGOING'"
                    class="glyphicon glyphicon-arrow-up"></span>
                  {{label}}
              </button>
          </div>
      </div>
</div>
