<!DOCTYPE html>
<div class="container" ng-controller="queryBuilderCtrl as ctrl">
  
  <div class="row top-buffer-small">
    <div class="col-md-12">
      <button class="btn btn-default" ng-click="ctrl.executeQuery()">Execute Query</button>
      <button class="btn btn-default" ng-click="ctrl.saveQuery()">Save Query</button>
      <button class="btn btn-default" ng-click="ctrl.loadQuery()">Load Query</button>
    </div>
  </div>

  <div  ng-repeat="nodeInfo in ctrl.selectedNodesAndRelation">
    <div class="row">
       <h2>Node</h2>
      <div class="col-md-3" >
        {{nodeInfo['node']}}
      </div>
      <div class="col-md-3" >
          <div ng-repeat="keyNode in nodeInfo['keys']">
             <div ng-repeat="key in keyNode['Keys']">
                  Filter {{key}}
                  <input type="textarea" class="form-control" id="query" />
              </div>
          </div>
      </div>
      <div class="col-md-3" >   
          <table>
              <tbody ng-repeat="keyNode in nodeInfo['keys']">
                 <tr ng-repeat="key in keyNode['Keys']">
                    <td>
                      <input type="checkbox" />
                    </td>
                    <td>
                      <label>ORDER {{key}}</label>
                    </td>
                     <td>
                        <input type="checkbox" />
                     </td>
                      <td>
                        <label>ASC</label>
                     </td>
                </tr>
            </tbody>
          </table>
      </div>
      <div class="col-md-3" >
            <table>
              <tbody ng-repeat="keyNode in nodeInfo['keys']">
                 <tr ng-repeat="key in keyNode['Keys']">
                    <td>
                      <input type="checkbox" />
                    </td>
                    <td>
                      <label> RETURN {{key}}</label>
                    </td>
            </tbody>
          </table>
      </div>
    </div>
    <div class="row" ng-if="nodeInfo['relation'] != ''">
        <h2>Relationship</h2>
        {{nodeInfo['relation']}}
    </div>
  </div>

  <div class="row" ng-if="ctrl.availableNodes.length > 0">
      <h1>Choose Node</h1>
      <div ng-repeat="node in ctrl.availableNodes">
        <div ng-repeat="nodeText in node['Label']" >
          <button ng-click="ctrl.addNode(nodeText)">
          {{nodeText}}
          </button>
        </div>
      </div>
  </div>
  <div class="row" ng-if="ctrl.availableRelationships.length > 0">
      <h1>Choose Relationsships</h1>
      <div ng-repeat="relationship in ctrl.availableRelationships">
        <button ng-click="ctrl.addRelation(relationship['Relation'])">
          {{relationship['Relation']}}
        </button>
      </div>
  </div>

  <h1 class="row top-buffer">Paramenter</h1>
  <div ng-repeat="param in ctrl.params">
    <div class="row">
      <div ng-repeat="(key, val) in param" >
           <div class="col-md-2" ng-if="key == 'type'">
                <select  ng-model="val" ng-options="o as o for o in ctrl.paramoptions" class="center-block">
                </select>
           </div>
           <div class="col-md-10" ng-if="key == 'value'">
              <input  ng-model ="val" type="text" class="form-control"/>
            </div>
      </div>
    </div>
  </div>
  


<!--   <h1>TEST: {{ctrl.table}}</h1> -->
  
  <div class="row top-buffer">
    <table class="table"  ng-if="!ctrl.hasError">
       <thead>
        <tr>
          <th>ID</th>
          <th>Label</th>
          <th>Key</th>
          <th>Value</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="row in ctrl.table">
		  <td>
            <p  ng-repeat="node in row.n.propertyList">
              <a href="node">{{row.n.id}}</a>
            </p>
          </td>
		  <td>
            <p  ng-repeat="node in row.n.propertyList">
              <a href="node">{{row.n.labels[0]}}</a>
            </p>
          </td>
          <td>
            <p  ng-repeat="node in row.n.propertyList">
              <a href="node">{{node.key}}</a>
            </p>
          </td>
          <td>
            <p  ng-repeat="node in row.n.propertyList">
              <a href="node">{{node.value}}</a>
            </p>
          </td>
        </tr>
      </tbody>
    </table>

    <div ng-if="ctrl.hasError">
        <div class="row">
            <div class="col-md-3">Error</div>
            <div class="col-md-9">{{ctrl.error['error']}}</div>
        </div>
        <div class="row">
            <div class="col-md-3">Exception</div>
            <div class="col-md-9">{{ctrl.error['exception']}}</div>
        </div>
        <div class="row">
            <div class="col-md-3">Message</div>
            <div class="col-md-9">{{ctrl.error['message']}}</div>
        </div>
    </div>

  </div>
 
</div>