<!DOCTYPE html>
<div class="container" ng-controller="queryBuilderCtrl as ctrl">
  
  <div class="row top-buffer-small">
    <div>
      <button class="btn btn-default" ng-click="ctrl.executeQuery()">Execute Query</button>
      <button class="btn btn-default" ng-click="ctrl.saveQuery()">Save Query</button>
      <button class="btn btn-default" ng-click="ctrl.loadQuery()">Load Query</button>
    </div>
  </div>

  <div class="row">
      <h1>Name</h1>
      <input type="textarea" class="form-control" id="query" 
            ng-model="ctrl.query['name']"   placeholder="Name" />
  </div>
  <div class="row">
      <h1>Description</h1>
      <input type="textarea" class="form-control" id="query" 
            ng-model="ctrl.query['description']"  placeholder="Description" />
  </div>
  <div class="row">
      <h1>Category</h1>
      <input type="textarea" class="form-control" id="query"
            ng-model="ctrl.query['category']"  placeholder="Category" />
  </div>
  
  <div class="row">
      <h1>LimitCount</h1>
      <input type="textarea" class="form-control" id="query"
            ng-model="ctrl.query['limitcount']"  placeholder="LimitCount" />
  </div>
  

  <div class="row" ng-if="ctrl.availableNodes.length > 0">
      <h1>Choose Node</h1>
        <div ng-repeat="node in ctrl.availableNodes" style="display: inline;">
          <button ng-repeat="nodeText in node['Label']" ng-click="ctrl.addNode(nodeText)" class="btn btn-default">
          {{nodeText}}
          </button>
        </div>
  </div>
  <vis-network ng-if="ctrl.availableNodes.length == 0"
        ng-model="ctrl.network_data"
        options="ctrl.network_options" 
        on-select-click="ctrl.onSelectClick(params)"
        id="previewNetwork">
  </vis-network>
  
  


<!--   <h1>TEST: {{ctrl.table}}</h1> -->
  
  <div class="row top-buffer">
    <table class="table"  ng-if="!ctrl.hasError">
       {{self.table}}
    </table>

  

    <div ng-if="ctrl.hasError">
        <div class="row">
            <div class="col-md-3">Error</div>
            <div class="col-md-9">{{ctrl.error['error']}}</div>
        </div>
        <div class="row">
            <div class="col-md-3">Exception</div>
            <div class="col-md-9">{{ctrl.error['exception']}}</div>
        </div>
        <div class="row">
            <div class="col-md-3">Message</div>
            <div class="col-md-9">{{ctrl.error['message']}}</div>
        </div>
    </div>

  </div>
 
</div>