<!DOCTYPE html>
<div class="container" ng-controller="queryBuilderCtrl as ctrl">
  
  <div class="row top-buffer-small">
    <div>
      <button class="btn btn-default" ng-click="ctrl.executeQuery()">Execute Query</button>
      <button ng-if='ctrl.query["id"] === ""'
              class="btn btn-default" ng-click="ctrl.saveQuery()">Save Query</button>
       <button ng-if='ctrl.query["id"] !== ""'
              class="btn btn-default" ng-click="ctrl.updateQuery()">Update Query</button>
      <button ng-if='ctrl.query["id"] !== ""'
              class="btn btn-default" ng-click="ctrl.deleteQuery()">Delete Query</button>
      <button class="btn btn-default" ng-click="ctrl.loadQuery()">Load Query</button>
      <button class="btn btn-default" ng-click="ctrl.newQuery()">New Query</button>
    </div>
  </div>

  <div class="row">
      <h1>Name</h1>
      <input type="textarea" class="form-control" id="name" 
            ng-model="ctrl.query['name']"   placeholder="Name" />
  </div>
  <div class="row">
      <h1>Description</h1>
      <input type="textarea" class="form-control" id="description" 
            ng-model="ctrl.query['description']"  placeholder="Description" />
  </div>
  <div class="row">
      <h1>Category</h1>
      <select  ng-model="ctrl.query['category']" ng-change="ctrl.query['category']"
      style="width: 100%; display:block; margin-bottom: 5px">
          <option ng-repeat="category in ctrl.availableCategories"> {{category.name}} </option>
      </select>
  </div>
  
  <div class="row">
      <h1>Limit</h1>
      <input type="textarea" class="form-control" id="query" ng-change="ctrl.getQuery()"
            ng-model="ctrl.query['limitCount']"  placeholder="Limit Count" />
  </div>
  <div class="row">
      <h1>
        <div class="panel-title pull-left" style="width:15px;">
          <input  type="checkbox" ng-change="ctrl.getQuery()"
                  ng-model="ctrl.query['distinct']">
          </input>
        </div> Distinct
       </h1>
  </div>

  <div class="row" ng-if="ctrl.availableNodes.length > 0">
      <h1>Choose Node</h1>
        <div ng-repeat="node in ctrl.availableNodes" style="display: inline;">
          <button ng-repeat="nodeText in node['Label']" ng-click="ctrl.addNode(nodeText)" class="btn btn-default">
          {{nodeText}}
          </button>
        </div>
  </div>
  <div class="row" ng-if="ctrl.availableNodes.length === 0">
    <!--NETWORK-->
    <div class="panel panel-default top-buffer"
         ng-class="{'col-md-8': ctrl.selectedNode != undefined || 
          ctrl.selectedRelation != undefined, 
                    'col-md-12': ctrl.selectedNode == undefined}">
      <div class="panel-body">
        <vis-network ng-if="ctrl.availableNodes.length == 0"
              ng-model="ctrl.network"
              data="ctrl.network_data"
              options="ctrl.network_options" 
              on-select-click="ctrl.onSelectClick(params, network)"
              on-double-click="ctrl.onDoubleClick(params, network)"
              id="previewNetwork">
        </vis-network>
      </div>
    </div>
    <div class="width: 4%">
    </div>
    <div class=" col-md-4" 
      ng-if="ctrl.selectedNode != undefined || ctrl.selectedRelation != undefined">

      <!--SELECTED NODE-->
      <div class="panel panel-default top-buffer" ng-if="ctrl.selectedNode != undefined">
        <div class="panel-body">
          <h1>
            <span>{{ctrl.selectedNode['type']}}</span>
            <button class="btn btn-primary pull-right" 
              ng-click="ctrl.deleteSelectedNode()">
              Delete
            </button>
          </h1>
          <h3>Return Attributes</h3>
          <ul>
            <li ng-repeat="attribute in ctrl.selectedNode.returnAttributes">
              {{attribute.attributeName}}, Type: {{attribute.aggregation}} 
            </li>
          </ul>
          <h3>Filter Attributes</h3>
          <ul>
            <li ng-repeat="attribute in ctrl.selectedNode.filterAttributes">
              {{attribute.attributeName}} <br />
              <ul>
                <li ng-repeat="filter in attribute.filters">
                  {{filter.type}} {{filter.filterType}} {{filter.value}}
                </li>
              </ul>
            </li>
          </ul>
          <h3>Order by Attributes</h3>
          <ul>
            <li ng-repeat="attribute in ctrl.selectedNode.orderByAttributes">
              {{attribute.attributeName}} {{attribute.direction}}
            </li>
          </ul>   
        </div>
      </div>

      <!--SELECTED RELATIONSHIP-->
      <div class="panel panel-default top-buffer"  ng-if="ctrl.selectedRelation != undefined">
        <div class="panel-body">
          <h1>{{ctrl.selectedRelation['relationshipType']}} </h1>
          Optional: {{ctrl.selectedRelation['optional']}}  <br />
          <h3>Return Attributes</h3>
          <ul>
            <li ng-repeat="attribute in ctrl.selectedRelation.returnAttributes">
              {{attribute.attributeName}}, Type: {{attribute.aggregation}} 
            </li>
          </ul>
          <h3>Filter Attributes</h3>
          <ul>
            <li ng-repeat="attribute in ctrl.selectedRelation.filterAttributes">
              {{attribute.attributeName}} <br />
              <ul>
                <li ng-repeat="filter in attribute.filters">
                  {{filter.type}} {{filter.filterType}} {{filter.value}}
                </li>
              </ul>
            </li>
          </ul>
          <h3>Order by Attributes</h3>
          <ul>
            <li ng-repeat="attribute in ctrl.selectedRelation.orderByAttributes">
              {{attribute.attributeName}} {{attribute.direction}}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  

<!--   <h1>TEST: {{ctrl.table}}</h1> -->
  <div class="row top-buffer">
    <h1>Query</h1>
    <div>
    {{ctrl.displayQuery.query}}
    </div>
    <div class="panel panel-default col-xs-3 top-buffer" style="display: inline;margin-left: 5px; margin-right: 5px;"
             ng-repeat="parameter in ctrl.displayQuery.parameter" >
        <div class="panel-body">
          <h3>{{parameter.key}}</h3>
          <div class="left-buffer-0 row">
            Type: {{parameter.type}}
          </div>
          <div  class="left-buffer-0 row">
           Value: {{parameter.value}}
          </div>
        </div>
    </div>
  </div>

  <div class="row top-buffer">
    <div class="table"  ng-if="!ctrl.hasError && ctrl.table !== ''
                              && ctrl.table !== undefined && ctrl.table !== null">
       
      <h1>Result Table</h1>
      <div class="container" ng-controller="Controller">
        <div outputtable table="ctrl.table"></div> 
      </div>

       <h1>Result JSON</h1>
       {{ctrl.table}}

    </div>
  </div>


    <div ng-if="ctrl.hasError">
        <div class="row">
            <div class="col-md-3">Error</div>
            <div class="col-md-9">{{ctrl.error['error']}}</div>
        </div>
        <div class="row">
            <div class="col-md-3">Exception</div>
            <div class="col-md-9">{{ctrl.error['exception']}}</div>
        </div>
        <div class="row">
            <div class="col-md-3">Message</div>
            <div class="col-md-9">{{ctrl.error['message']}}</div>
        </div>
    </div>

  </div>
 
</div>